body {
  
    background-color: rgb(136, 136, 136);
}
  table {
    margin: auto;
    background-color: rgb(25, 180, 103);
    width: 260px;
    max-width: 260px;
    height: 290px;
    text-align: center;
    border-radius: 4px;
    padding-right: 10px;
  }
  
  input {
    outline: 0;
    position: relative;
    left: 4px;
    right: 4px;
    top: 4px;
    border: 0;
    color: #495069;
    background-color: #fff;
    border-radius: 4px;
    width: 50px;
    height: 50px;
    
    float: left;
    margin: 4px;
    font-size: 18px;
    box-shadow: 0 4px rgba(248, 141, 141, 0);
    margin-bottom: 15px;
  }
  
  #display {
      width: 143%;
      font-size: 1.5rem;
      height: 45px;
      border: none;
      background-color: #c9b9b9;
      color: rgb(34, 8, 8);
      text-align: right;
      padding-right: 5px;
      padding-left: 5px;
  }
  
  .operator {
    background-color: #f6fafa;
    position: relative;
  }
  #clear {
    float: left;
    position: relative;
    display: block;
    background-color: #cee9ea;
  }